.geo-parent {
  @include md-block() {
    background: #1c5c78;
    border-bottom: solid 1px #326e88;
    border-right: solid 1px #326e88;
    border-left: solid 1px #326e88;
    border-radius: 0 0 5px 5px;
  }
}

.geo-top__list-parent {
  @include md-block() {
    width: 100%;
  }
}

.geo-top__list {
  background: #1c5c78;
  border-bottom: solid 1px #326e88;
}

.geo-top-country {
  flex: 2;
}

.geo-top-country-wrap {
  padding: 25px 30px 0;
}

.geo-top-info {
  flex: 10;
  border-left: 1px solid #326e88;
}

.geo-top-country__flag {
  border-radius: 5px;
  width: 100px;
}

.geo-top-country__title {
  font-family: $font-bold;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
}

.offer-info {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.products__item {
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.products__item .item-num {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-family: $font-bold;
  background: #103545;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 22px;
  margin-right: 8px;
}

.products__item {
  position: relative;
  font-size: 16px;
  color: #0b1b31;
  padding: 10px;
}

.geo-top-info__list {
  .products__item:nth-child(2n) {
    background: #1e6584;
  }
}

.geo-top-more {
  padding: 0 0 30px;
}