.offers-list__head {
  font-size: 14px;
  color: #ffff67;
  background: #103545;
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
  min-height: 54px;

  .cell-table {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.offers-list__header {
  margin-bottom: 15px;
  font-size: 14px;
  color: #ffff67;
  text-transform: uppercase;
  @include md-block() {
    display: none;
  }
}

.offers-list__list-number-int {
  font-family: $font-bold;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.33);
  background-color: #36ca4e;
  text-align: center;
  color: #000000;
  line-height: 26px;
  font-weight: 500;
  position: absolute;
}

.offers-list__list {
  border-radius: 5px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.6);
  border: solid 1px #326e88;
  background: #194e65;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  font-family: $font-lite;
  margin-bottom: 10px;
  @include md-block() {
    //pointer-events: none;
    background: #1c5c78;
    box-shadow: none;
    border-radius: 0;
    align-items: center;
    margin-bottom: 0;
    border: none;
    border-bottom: solid 1px #326e88;
    &:hover {
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.6);
      background-color: #194e65;
    }
  }
  .offers-list__list-row {
    &:last-child {
      @include md-block() {
        display: none !important;
      }
    }
  }
}

.offers-list__list-number {
  width: 100px;
  display: inline-block;
  @include md-block() {
    img {
      max-width: 90px;
    }
  }
}

.offers-list__list-title {
  display: inline-block;
  width: calc(100% - 100px);
  padding: 0 30px;
}

.offers-list__list-title-name {
  margin-top: 30px;
  @include md-block() {
    margin-top: 0;
  }
}

.offers-list__list-row {
  width: 100%;
  align-items: center;
  display: none;
  border-top: solid 1px #326e88;
  margin-top: 10px;
  padding-top: 10px;
  @include md-block() {
    border: none;
    margin-top: 0;
    padding-bottom: 0;
    display: flex;
  }
  .offers-list__header {
    margin-bottom: 0;
  }
  &_active {
    display: flex !important;
    @include md-block() {
      display: flex !important;
    }
  }
}

.offers-list__list-row-value {
  margin-left: auto;
}

@include md-block() {
  .row-table {
    display: flex;
  }

  .cell-table {
    flex: 1;
    padding: 5px;
  }

  .cell-table-2 {
    flex: 2;
  }

  .cell-table-3 {
    flex: 3;
  }

  .cell-table-4 {
    flex: 4;
  }

  .cell-table-5 {
    flex: 5;
  }
}
