.offers-list__head {
  min-height: 54px;
  font-size: 14px;
  color: #ffff67;
  text-transform: uppercase;
  background: #103545;
  border-radius: 5px 5px 0 0;
  .cell-table {
    display: flex;
    align-items: center;
  }
}

.offers-list__header {
  margin-bottom: 15px;
  font-size: 14px;
  color: #ffff67;
  text-transform: uppercase;
  @include md-block() {
    display: none;
  }
}

.offers-list__list-number-int {
  width: 26px;
  height: 26px;
  font-family: $font-bold;
  border-radius: 5px;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.33);
  background-color: #36ca4e;
  text-align: center;
  color: #000000;
  line-height: 26px;
  font-weight: 500;
  position: absolute;
}

.offers-list__list {
  border-radius: 5px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.6);
  border: solid 1px #326e88;
  background: #194e65;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  font-family: $font-lite;
  margin-bottom: 10px;
  @include md-block() {
    padding: 20px 0;
    background: #1c5c78;
    box-shadow: none;
    border-radius: 0;
    align-items: center;
    margin-bottom: 0;
    border: none;
    border-bottom: solid 1px #326e88;
    &:hover {
      background: #194e65;
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.6);
    }
  }

  .geo {
    @include md-block() {
      max-width: 260px;
    }
  }

  .offers-list__list-number {
    @include md-block() {
      &:first-child {
        padding-left: 30px;
      }
    }
  }

  .offers-list__list-row {
    &:last-child {
      @include md-block() {
        display: none !important;
      }
    }
  }
}

.offers-list__list-number {
  width: 100px;
  display: inline-block;
  @include md-block() {
    img {
      max-width: 90px;
    }
  }
}

.offers-list__list-title {
  display: inline-block;
  width: calc(100% - 100px);
  padding: 0 15px 0 30px;
}

.offers-list__list-title-name {
  margin-top: 30px;
  @include md-block() {
    margin-top: 0;
  }
}

.offers-list__list-row {
  width: 100%;
  align-items: center;
  display: none;
  border-top: solid 1px #326e88;
  margin-top: 10px;
  padding-top: 10px;
  @include md-block() {
    border: none;
    margin-top: 0;
    padding-bottom: 0;
    display: block;
  }
  @include to(992px) {
    flex: auto !important;
  }

  .offers-list__header {
    margin-bottom: 0;
  }

  &_active {
    display: flex !important;
    @include md-block() {
      display: flex !important;
    }
  }
}

.offers-list__list-row-value {
  margin-left: auto;
  @include md-block() {
    margin-left: initial;
  }
}

.cell-table {
  flex: 1;
  align-items: center;
  padding: 5px;

  &__indent-left {
    padding-left: 30px;
  }

  &__indent-right {
    padding-right: 30px;
  }
}

.row-table {
  display: flex;
}

.cell-table-1_5 {
  flex: 1.5;
}

.cell-table-2 {
  flex: 2;
}

.cell-table-3 {
  flex: 3;
}

.cell-table-4 {
  flex: 4;
}

.cell-table-5 {
  flex: 5;
}

.cell-table-10 {
  flex: 10;
}
