.link {
  max-width: 200px;
  padding: 10px 10px;
  background-color: #0188cc;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 30px auto 0;
}