.product {
  display: block;
  width: 100%;
  padding: 30px 15px;
  background: #1c5c78;
  border: 1px solid #326e88;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, .08);
  box-shadow: 0 10px 40px rgba(0, 0, 0, .08);
}

.product__left {
  @include md-block() {
    width: 260px;
    padding: 30px 30px 0 30px;
  }
}

.product__info {
  @include md-block() {
    padding: 30px 30px 20px 30px;
    border-left: 1px solid #16485f;
    width: calc(100% - 260px);
  }
}

.product__card {
  margin-bottom: 15px;
}

.product-hidden {
  display: none;
}

.product__table {
  display: block;
  width: 100%;
}

.product__cell,
.product__row {
  display: block;
}

.product__picture {
  margin-bottom: 20px;
  text-align: center;
}

.product__img {
  display: inline-block;
  margin-bottom: 25px;
}

.product__title {
  margin-bottom: 15px;
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffff67;
}

.product__cell_first {
  @include md-block() {
    width: 320px;
    padding-right: 20px;
  }
}

.product__cell_second {
  @include md-block() {
    width: calc(100% - 320px);
    padding-left: 20px;
  }
}

.novelty__description,
.product__description {
  h4 {
    margin-bottom: 15px;
    color: #ffff67;
  }
}

.novelty__description,
.product__description {
  p {
    font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
}

.product__description p {
  position: relative;
  margin-top: 20px;

  &:before {
    content: "";
    width: calc(100% + 30px);
    background: #326e88;
    height: 1px;
    top: -10px;
    left: -15px;
    display: block;
    position: absolute;
    @include md-block() {
      width: 100%;
      left: 0;
    }
  }

  &:after {
    content: "";
    width: calc(100% + 30px);
    background: #326e88;
    height: 1px;
    bottom: -10px;
    left: -15px;
    display: block;
    position: absolute;
    @include md-block() {
      display: none;
    }
  }
}

.statistics__list {
  position: relative;
  display: block;
  width: 100%;
  font-size: 0;
  background: #103545;
  padding: 20px 10px 6px;
  border: 1px solid #ffff67;
  border-radius: 0 20px 0 20px;
  text-align: center;

  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    border-style: solid;
    left: 10px;
  }

  &:before {
    top: -22px;
    border-color: transparent transparent #ffff67 transparent;
    border-width: 11px;
  }

  &:after {
    top: -20px;
    border-color: transparent transparent #103545;
    border-width: 10px;
    left: 11px;
  }
}

.statistics__item {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 15px;

  &:last-child {
    padding-right: 0;
  }
}

.statistics__text {
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.statistics__num {
  display: block;
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #3781a1;

  span {
    text-transform: lowercase;
  }
}

.offer__geo {
  position: relative;
  margin-top: 30px;

  &:after {
    content: "";
    width: calc(100% + 30px);
    background: #326e88;
    height: 1px;
    left: -15px;
    display: block;
    position: absolute;
    bottom: -10px;
    @include md-block() {
      display: none;
    }
  }

  &:before {
    content: "";
    width: calc(100% + 30px);
    background: #326e88;
    height: 1px;
    left: -15px;
    display: block;
    position: absolute;
    top: -10px;
    @include md-block() {
      display: none;
    }
  }

  @include md-block() {
    max-width: 300px;
    margin-top: 0;
  }
}

.geo__list {
  margin: 0 -4px;
  font-size: 0;
}

.geo__item {
  display: inline-block;
  padding: 0 4px;
  margin-bottom: 5px;
}

.btn-show {
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #edf5fb;
  padding: 5px 10px;
  border-radius: 3px;
  color: #1d74f6;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.btn-show__wrap {
  background: #fff;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, .08);
  box-shadow: 0 10px 40px rgba(0, 0, 0, .08);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.product__link {
  max-width: 200px;
  padding: 10px 10px;
  background-color: #0188cc;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 30px;
}

.link__img, .link__text {
  display: inline-block;
  vertical-align: middle;
}

.link__img {
  position: relative;
  width: 30px;

  &:after {
    position: absolute;
    top: 50%;
    left: -8px;
    width: 1px;
    height: calc(100% + 20px);
    margin-top: -25px;
    content: "";
    background: #1c5c78;
  }
}

.link__text {
  width: calc(100% - 34px);
  padding-right: 10px;
}

.product__info--sec {
  @include md-block() {
    margin-top: 25px;
  }
}

@media (min-width: 992px) {
  .product {
    padding: 0;
  }

  .product__table {
    display: table
  }

  .product__cell {
    display: inline-block;
    vertical-align: top;
  }

  .product__row {
    display: table;
    width: 100%;
  }

  .product__picture {
    margin-bottom: 0
  }

  .product__title {
    margin-bottom: 30px
  }

  .geo__item {

  }

  .graphs__table {
    display: table;
    width: 100%;
    table-layout: fixrd
  }

  .novelty__table {
    display: table
  }

  .novelty__cell {
    display: table-cell;
    vertical-align: top
  }

  .novelty__picture {
    padding-right: 30px;
    padding-bottom: 0;
    width: 235px
  }

  .novelty .link {
    margin: 25px 0 0
  }

  .geography,
  .offers-list {
    overflow-x: unset
  }
}