@include reset();

*, *:after {
  box-sizing: border-box;
}

body {
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.3;
  position: relative;
}

.only-mobile {
  display: block;
  @include md-block() {
    display: none !important;
  }
}

.only-desktop {
  display: none;
  @include md-block() {
    display: block;
  }
}

.relative {
  position: relative;
}
.d-none {
  display: none !important;
}