<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<title><%= home.title %></title>
</head>
<body>
<header class="header">
	<div class="wrapper">
	<div class="header-root">
		<div class="logo">
			<div class="logo__name">CTR <span>.ru</span></div>
		</div>
		<div class="burger-wrap">
			<div id="burger">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="interval-wrap">
			<div class="interval">
				<div class="interval__text">Показатели за</div>
				<div class="interval__time">
					<div class="interval__time-content">c 17 января — по 23 января</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation only-mobile">
	<div class="wrapper">
		<ul class="nav">
			<li class="nav__part"><a class="nav__link nav__link_active" href="/">Авторские офферы</a></li>
			<li class="nav__part"><a class="nav__link" href="/top">Топ офферов</a></li>
			<li class="nav__part"><a class="nav__link" href="/geotop">Топ по гео</a></li>
			<li class="nav__part"><a class="nav__link" href="/new">Новинки</a></li>
		</ul>
	</div>
	</div>
</header>