<% var templateParameters = require('./template-parameters.js') %>
<% var HEADER_TEMPLATE = require('./views/header.html').default %>
<% var FOOTER_TEMPLATE = require('./views/footer.html').default %>
<%= _.template(HEADER_TEMPLATE)(templateParameters) %>
<main class="main">
	<div class="wrapper">
		<%= _.template(require('./views/interval.html').default)() %>
	</div>
	<div class="wrapper">
		<div class="relative">
			<%= _.template(require('./views/menu.html').default)() %>
			<div class="main__inner">
				<div class="offers-list">
					<div class="only-desktop">
						<div class="row-table offers-list__head">
							<div class="cell-table cell-table-3">№</div>
							<div class="cell-table cell-table-4">ОФФЕР</div>
							<div class="cell-table cell-table-5">Гео</div>
							<div class="cell-table cell-table-3"> ОТЧИСЛЕНИЯ</div>
							<div class="cell-table cell-table-2"> EPC</div>
							<div class="cell-table cell-table-2"> CR</div>
						</div>
					</div>
					<div class="row-table offers-list__list">
						<div class="offers-list__list-number cell-table cell-table-3">
							<div class="offers-list__header">№</div>
							<div class="offers-list__list-number-int">1</div>
							<img src="img/product/amulet.png" alt="MONEY AMULET (FREE)">
						</div>
						<div class="offers-list__list-title cell-table cell-table-4">
							<div class="offers-list__header">ОФФЕР</div>
							<div class="offers-list__list-title-name">MONEY AMULET (FREE)</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-5">
							<div class="geo">
								<div class="offers-list__header">Гео</div>
								<ul class="geo__list">
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_at.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_am.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_bg.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ru.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_hu.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_gr.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_az.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ee.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ee.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_sk.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ua.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_sk.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_kz.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_by.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_gr.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_pt.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_kg.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_pl.png" alt=""
											 class="flag">
									</li>
								</ul>
							</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-3">
							<div class="offers-list__header">ОТЧИСЛЕНИЯ</div>
							<div class="offers-list__list-row-value">до 600.00 p.</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-2">
							<div class="offers-list__header">EPC</div>
							<div class="offers-list__list-row-value">16.51</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-2">
							<div class="offers-list__header">CR</div>
							<div class="offers-list__list-row-value">12.54</div>
						</div>
						<div class="offers-list__list-row only-mobile">
							<a class="novelty__link link" href="" target="_blank">Подробнее</a>
						</div>
					</div>
					<div class="row-table offers-list__list">
						<div class="offers-list__list-number cell-table cell-table-3">
							<div class="offers-list__header">№</div>
							<div class="offers-list__list-number-int">2</div>
							<img src="img/product/titan.png" alt="TITAN GEL">
						</div>
						<div class="offers-list__list-title cell-table cell-table-4">
							<div class="offers-list__header">ОФФЕР</div>
							<div class="offers-list__list-title-name">TITAN GEL</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-5">
							<div class="geo">
								<div class="offers-list__header">Гео</div>
								<ul class="geo__list">
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_at.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_am.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_bg.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ru.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_hu.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_gr.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_az.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ee.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ee.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_sk.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ua.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_sk.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_kz.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_by.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_gr.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_pt.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_kg.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_pl.png" alt=""
											 class="flag">
									</li>
								</ul>
							</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-3">
							<div class="offers-list__header">ОТЧИСЛЕНИЯ</div>
							<div class="offers-list__list-row-value">до 600.00 p.</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-2">
							<div class="offers-list__header">EPC</div>
							<div class="offers-list__list-row-value">16.51</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-2">
							<div class="offers-list__header">CR</div>
							<div class="offers-list__list-row-value">12.54</div>
						</div>
						<div class="offers-list__list-row only-mobile">
							<a class="novelty__link link" href="" target="_blank">Подробнее</a>
						</div>
					</div>
					<div class="row-table offers-list__list">
						<div class="offers-list__list-number cell-table cell-table-3">
							<div class="offers-list__header">№</div>
							<div class="offers-list__list-number-int">2</div>
							<img src="img/product/titan.png" alt="TITAN GEL">
						</div>
						<div class="offers-list__list-title cell-table cell-table-4">
							<div class="offers-list__header">ОФФЕР</div>
							<div class="offers-list__list-title-name">TITAN GEL</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-5">
							<div class="geo">
								<div class="offers-list__header">Гео</div>
								<ul class="geo__list">
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_at.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_am.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_bg.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ru.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_hu.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_gr.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_az.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ee.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ee.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_sk.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_ua.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_sk.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_kz.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_by.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_gr.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_pt.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_kg.png" alt=""
											 class="flag">
									</li>
									<li class="geo__item">
										<img src="https://ctr.ru/images/detail_img/flags/c_pl.png" alt=""
											 class="flag">
									</li>
								</ul>
							</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-3">
							<div class="offers-list__header">ОТЧИСЛЕНИЯ</div>
							<div class="offers-list__list-row-value">до 600.00 p.</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-2">
							<div class="offers-list__header">EPC</div>
							<div class="offers-list__list-row-value">16.51</div>
						</div>
						<div class="offers-list__list-row cell-table cell-table-2">
							<div class="offers-list__header">CR</div>
							<div class="offers-list__list-row-value">12.54</div>
						</div>
						<div class="offers-list__list-row only-mobile">
							<a class="novelty__link link" href="" target="_blank">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<%= _.template(FOOTER_TEMPLATE)(templateParameters) %>
